#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

/* ---------------------------------------------------------------- */

.App {
  width: 80vw;
}
.details-section {
  background-color: aquamarine;
  padding: 10px;
  margin: 10px;
  border-radius: 8px;
}
.education-section {
  background-color: rgb(123, 231, 240);
  padding: 10px;
  margin: 10px;
  border-radius: 8px;
}
.education-card {
  background-color: rgb(170, 242, 243);
  margin: 10px;
  border-radius: 5px;
}
.experience-section {
  background-color: rgb(181, 126, 245);
  padding: 10px;
  margin: 10px;
  border-radius: 8px;
}
.experience-card {
  background-color: rgb(201, 173, 242);
  margin: 10px;
  border-radius: 5px;
}
.name-section {
  background-color: rgb(187, 241, 140);
  padding: 10px;
  margin: 10px;
  border-radius: 8px;
}
